In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
k = 10 
n = 50
X, Y = np.mgrid[-k:k:n, -k:k:n]

if the step length is a complex number (e.g. 5j), 
then the integer part of its magnitude is interpreted 
as specifying the number of points to create between the start and stop values, 
where the stop value is inclusive.

In [6]:
X

array([[-10]])

In [9]:
np.mgrid[-5:5,-1:5]

array([[[-5, -5, -5, -5, -5, -5],
        [-4, -4, -4, -4, -4, -4],
        [-3, -3, -3, -3, -3, -3],
        [-2, -2, -2, -2, -2, -2],
        [-1, -1, -1, -1, -1, -1],
        [ 0,  0,  0,  0,  0,  0],
        [ 1,  1,  1,  1,  1,  1],
        [ 2,  2,  2,  2,  2,  2],
        [ 3,  3,  3,  3,  3,  3],
        [ 4,  4,  4,  4,  4,  4]],

       [[-1,  0,  1,  2,  3,  4],
        [-1,  0,  1,  2,  3,  4],
        [-1,  0,  1,  2,  3,  4],
        [-1,  0,  1,  2,  3,  4],
        [-1,  0,  1,  2,  3,  4],
        [-1,  0,  1,  2,  3,  4],
        [-1,  0,  1,  2,  3,  4],
        [-1,  0,  1,  2,  3,  4],
        [-1,  0,  1,  2,  3,  4],
        [-1,  0,  1,  2,  3,  4]]])

In [10]:
from sqlalchemy import create_engine, text

In [13]:
eng = create_engine("sqlite:///DAY3/fake.db")

In [14]:
df_fake_data = pd.read_sql("people",  con=eng)

In [16]:
df_fake_data.drop(columns=['id'], inplace=True)
df_fake_data['dob'] = pd.to_datetime(df_fake_data.dob, format='%Y-%m-%d')
df_fake_data['dob'].dt.year
df_fake_data.head()

,first_name,last_name,occupation,dob,country
0,Jason,Flores,"Lecturer, further education",1997-05-18,Israel
1,Robert,Alvarez,Technical sales engineer,1979-11-22,Gambia
2,Ashley,Scott,Computer games developer,2001-07-28,United States Virgin Islands
3,Adam,Ramos,Further education lecturer,1973-04-08,Thailand
4,Scott,Moore,Field trials officer,2008-01-16,Cape Verde