In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
len(dir(pd)), len(dir(pd.DataFrame)), len(dir(pd.Series))

(140, 427, 425)

## IO
https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html

In [6]:
iris = pd.read_csv('data/iris.csv')
iris.head() #n=5 by default

   SepalLength  SepalWidth  PetalLength  PetalWidth         Name
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

In [9]:
#metadata
iris.columns, iris.index, iris.dtypes

(Index(['SepalLength', 'SepalWidth', 'PetalLength', 'PetalWidth', 'Name'], dtype='object'),
 RangeIndex(start=0, stop=150, step=1),
 SepalLength    float64
 SepalWidth     float64
 PetalLength    float64
 PetalWidth     float64
 Name            object
 dtype: object)

In [10]:
len(iris)

150

# Datatypes
https://pandas.pydata.org/pandas-docs/stable/user_guide/basics.html#basics-dtypes


https://pandas.pydata.org/pandas-docs/stable/user_guide/text.html#text-types

In [11]:
## Access
iris.SepalLength
#OR 
iris['SepalLength']  #Series
#Multicolumn
iris[['SepalLength','SepalWidth']] #DF

     SepalLength  SepalWidth
0            5.1         3.5
1            4.9         3.0
2            4.7         3.2
3            4.6         3.1
4            5.0         3.6
..           ...         ...
145          6.7         3.0
146          6.3         2.5
147          6.5         3.0
148          6.2         3.4
149          5.9         3.0

[150 rows x 2 columns]

In [13]:
# Slice , loc - with ids, iloc- integer based
iris.loc[0:3, ['SepalLength', 'SepalWidth']] #Note 0:3 is rowid, inclusive

   SepalLength  SepalWidth
0          5.1         3.5
1          4.9         3.0
2          4.7         3.2
3          4.6         3.1

In [14]:
iris.iloc[0:4, [0,1]] #0:4 like python- end exclusive

   SepalLength  SepalWidth
0          5.1         3.5
1          4.9         3.0
2          4.7         3.2
3          4.6         3.1

In [15]:
iris.iloc[:,:]  #full DF

     SepalLength  SepalWidth  PetalLength  PetalWidth            Name
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

In [18]:
# Boolean accessing - loc - and &, or | , not ~
iris.loc[iris.Name == 'Iris-virginica', :]
iris.loc[iris.Name == 'Iris-virginica', ['SepalLength', 'SepalWidth']]
iris.loc[(iris.Name == 'Iris-virginica') | (iris.Name == 'Iris-setosa'), ['SepalLength', 'SepalWidth']]

     SepalLength  SepalWidth
0            5.1         3.5
1            4.9         3.0
2            4.7         3.2
3            4.6         3.1
4            5.0         3.6
..           ...         ...
145          6.7         3.0
146          6.3         2.5
147          6.5         3.0
148          6.2         3.4
149          5.9         3.0

[100 rows x 2 columns]