In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
len(dir(pd)), len(dir(pd.DataFrame)), len(dir(pd.Series))

(140, 427, 425)

## IO
https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html

In [6]:
iris = pd.read_csv('data/iris.csv')
iris.head() #n=5 by default

   SepalLength  SepalWidth  PetalLength  PetalWidth         Name
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

In [9]:
#metadata
iris.columns, iris.index, iris.dtypes

(Index(['SepalLength', 'SepalWidth', 'PetalLength', 'PetalWidth', 'Name'], dtype='object'),
 RangeIndex(start=0, stop=150, step=1),
 SepalLength    float64
 SepalWidth     float64
 PetalLength    float64
 PetalWidth     float64
 Name            object
 dtype: object)

In [10]:
len(iris)

150

# Datatypes
https://pandas.pydata.org/pandas-docs/stable/user_guide/basics.html#basics-dtypes


https://pandas.pydata.org/pandas-docs/stable/user_guide/text.html#text-types

In [11]:
## Access
iris.SepalLength
#OR 
iris['SepalLength']  #Series
#Multicolumn
iris[['SepalLength','SepalWidth']] #DF

     SepalLength  SepalWidth
0            5.1         3.5
1            4.9         3.0
2            4.7         3.2
3            4.6         3.1
4            5.0         3.6
..           ...         ...
145          6.7         3.0
146          6.3         2.5
147          6.5         3.0
148          6.2         3.4
149          5.9         3.0

[150 rows x 2 columns]

In [13]:
# Slice , loc - with ids, iloc- integer based
iris.loc[0:3, ['SepalLength', 'SepalWidth']] #Note 0:3 is rowid, inclusive

   SepalLength  SepalWidth
0          5.1         3.5
1          4.9         3.0
2          4.7         3.2
3          4.6         3.1

In [14]:
iris.iloc[0:4, [0,1]] #0:4 like python- end exclusive

   SepalLength  SepalWidth
0          5.1         3.5
1          4.9         3.0
2          4.7         3.2
3          4.6         3.1

In [15]:
iris.iloc[:,:]  #full DF

     SepalLength  SepalWidth  PetalLength  PetalWidth            Name
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

In [17]:
# Boolean accessing - loc 
iris.loc[iris.Name == 'Iris-virginica', :]
iris.loc[iris.Name == 'Iris-virginica', ['SepalLength', 'SepalWidth']]
iris.loc[(iris.Name == 'Iris-virginica', ['SepalLength', 'SepalWidth']]

     SepalLength  SepalWidth
100          6.3         3.3
101          5.8         2.7
102          7.1         3.0
103          6.3         2.9
104          6.5         3.0
105          7.6         3.0
106          4.9         2.5
107          7.3         2.9
108          6.7         2.5
109          7.2         3.6
110          6.5         3.2
111          6.4         2.7
112          6.8         3.0
113          5.7         2.5
114          5.8         2.8
115          6.4         3.2
116          6.5         3.0
117          7.7         3.8
118          7.7         2.6
119          6.0         2.2
120          6.9         3.2
121          5.6         2.8
122          7.7         2.8
123          6.3         2.7
124          6.7         3.3
125          7.2         3.2
126          6.2         2.8
127          6.1         3.0
128          6.4         2.8
129          7.2         3.0
130          7.4         2.8
131          7.9         3.8
132          6.4         2.8
133          6.3         2.8
134          6.1         2.6
135          7.7         3.0
136          6.3         3.4
137          6.4         3.1
138          6.0         3.0
139          6.9         3.1
140          6.7         3.1
141          6.9         3.1
142          5.8         2.7
143          6.8         3.2
144          6.7         3.3
145          6.7         3.0
146          6.3         2.5
147          6.5         3.0
148          6.2         3.4
149          5.9         3.0